<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Registration</title>
<link type="text/css" rel="stylesheet" href="/static/css/style.css" >
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
	
	h1 a {
		color:red;
	}
</style>
</head>
<body>
		<div id="header">
				<img class="logo_img" alt="" src="/static/img/bookstore.png" >
				<div>
					
					
					
					<a href="/main">Home</a>
				</div>
		</div>
		
		<div id="main">
		
			<h1>Welcome <a href="/main">Home</a></h1>
	
		</div>
</body>
</html>