<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
<link type="text/css" rel="stylesheet" href="/static/css/style.css" >
<!--jquery.js -->
<script type="text/javascript" src="/static/script/jquery-1.7.2.js"></script>
<script>
	$(function(){
		
		$("#sub_btn").click(function(){
			var username = $("#username").val();
			//check if username is empty
			if(username == ""){
				alert("username cannot be empty！");
				return false;
			}
			//get password
			var password = $("#password").val();
			if(password == ""){
				alert("password cannnot be empty！");
				return false;
			}
		});
		if("{{.}}"=="Username or password is not correct"){
			
			$("#msg").text("Username or password is not correct！");
		}
	});
</script>
</head>
<body>
		<div id="login_header">
			<img class="logo_img" alt="" src="/static/img/bookstore.png" >
			
		</div>
		
			<div class="login_banner">
			
				<div id="l_content">
					<span class="login_word">Welcome</span>
				</div>
				
				<div id="content">
					<div class="login_form">
						<div class="login_box">
							<div class="tit">
								<a href="/pages/user/regist.html">Registration</a>
							</div>
							<div class="msg_cont">
								<b></b>
								<span class="errorMsg" id="msg">Please input username and password</span>
							</div>
							<div class="form">
								<form action="/login" method="POST">
									<label>Username：</label>
									<input class="itxt" type="text" placeholder="Please nput username" autocomplete="off" tabindex="1" name="username" id="username"/>
									<br />
									<br />
									<label>Password：</label>
									<input class="itxt" type="password" placeholder="Please input password" autocomplete="off" tabindex="1" name="password" id="password"/>
									<br />
									<br />
									<br />
									<input type="submit" value="login" id="sub_btn" />
								</form>
							</div>
							
						</div>
					</div>
				</div>
			</div>
</body>
</html>