<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Backend Management</title>
<link type="text/css" rel="stylesheet" href="/static/css/style.css" >
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
</style>
</head>
<body>
	
	<div id="header">
			<img class="logo_img" alt="" src="/static/img/bookstore.png" >
			<span class="wel_word">Backend Management System</span>
			<div>
				<a href="/getPageBooks">Book Management</a>
				<a href="/main">Home</a>
			</div>
	</div>
	
	<div id="main">
		<h1>Welcome to Backend Management System</h1>
	</div>

</body>
</html>